@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BarlowSemi";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/BarlowSemiCondensed-SemiBold.ttf");
  unicode-range: U+20-24F, U+370-52F, U+2DE0-2DFF, U+A640-A69F, U+1C80-1C8F,
    U+600-6FF, U+750-77F, U+8A0-8FF, U+B50-DFF, U+FE70-FEFF;
}

@font-face {
  font-family: "BarlowBold";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/BarlowSemiCondensed-Bold.ttf");
  unicode-range: U+20-24F, U+370-52F, U+2DE0-2DFF, U+A640-A69F, U+1C80-1C8F,
    U+600-6FF, U+750-77F, U+8A0-8FF, U+B50-DFF, U+FE70-FEFF;
}
